/* -------------------------------------------------------- general */
@font-face {
    font-family: "VT323";
    src: url("font/VT323-Regular.ttf");
}
html, body {
    overflow: hidden;
    font-family: 'VT323', monospace;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    user-select: none;
    user-zoom: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hide-elem {
    display: none !important;
}

.hide-pseudo::before {
    display: none !important;
}

.menu a {
    color: orange;
    text-decoration: underline;
}

.menu a:hover {
    color: darkgoldenrod;
}

/* -------------------------------------------------------- interaction overlay */

#interaction-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#interaction-overlay {
    color: white;
    cursor: pointer;
    user-select: none;
}

#interaction-overlay:active {
    color: white;
    cursor: default;
}
/* -------------------------------------------------------- header */

header {
    width: 100%;
    height: 80px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header-organizer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.headline > img {
    height: 50px;
    transition: all 1200ms;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;

    gap: 15px;
    cursor: pointer;
}

.headline:hover {
    text-decoration: underline;
    color: darkorchid;
}

.headline:hover > img {
    transform: rotateY(540deg);
}


.header-button {
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;

    background-color: transparent;
    border: none;
    color: black;

    transition: all 0.6s;
}

.header-button > div {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: wiggle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.header-button:nth-of-type(1) > div {
    background-image: url("img/icons8-gear-96.png");
    animation-delay: 4000ms;
}

.header-button:nth-of-type(2) > div {
    background-image: url("img/icons8-new-96.png");
    animation-delay: 4200ms;
}

.header-button:nth-of-type(3) > div {
    background-image: url("img/icons8-info-96.png");
    animation-delay: 4400ms;
}


.header-button:hover {
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 0.6s;
}


/* -------------------------------------------------------- menu */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu h3, h2, h4 {
    margin: 0px;
}

.inner-menu {
    background-color: greenyellow;
    outline: 10px solid green;
    border-radius: 30px;
}

.menu-name {
    width: 100%;
    background-color: #57c018;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;

    pointer-events: none;
}

.menu-name > h2 {
    padding: 20px 80px;
    text-align: center;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0px 20px 0px;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.menu-item > button {
    margin-left: 15px;

    width: 2em;
    height: 2em;
    border: 2px solid green;
    border-radius: 3px;
    
    color: #57c018;
    font-weight: 600;
    background-color: #57c018;
    cursor: pointer;
}

.ng-button {
    padding: 0px 10px;
    cursor: pointer;
    animation-name: grow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ng-button:hover {
    color: darkorchid;
}

.menu-name::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 200;
    margin-left: -15;
    margin-top: -15;
    
    outline: 7px solid green;
    border-radius: 100px;
    
    background-color: greenyellow;
    background-image: url("img/icons8-multiply-52.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
    animation-name: turn-short;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    pointer-events: all;
}

.button-active {
    color: black !important;
}

.full-text {
    max-width: 200px;
    text-align: justify;
}

.volume-slider {

}

/* -------------------------------------------------------- mine field */

#mine-field {
    position: fixed;
    top: 80px;
    left: 0px;
    width: 100%;
    height: calc(100% - 80px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6b8e23;
}

#inner-mine-field {
    height: 100%;
    width: 100%;
    border: 2px solid #536f1b;
}

.mf-row {
    display: flex;
    flex-direction: row;
}

.mf-field {
    z-index: 10;

    box-sizing: border-box;
    border: 2px solid #6b6e13;
    background-color: #868a19;
    height: 60px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;

    padding: 4px;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.mf-field::before {
    content: "";
    height: 60px;
    width: 60px;
    background-color: #6b8e23;

    position: absolute;
    box-sizing: border-box;
    border: 2px solid #536f1b;
}

.mf-flag::after {
    content: "";
    z-index: 300;
    background-image: url("img/icons8-explosive-materials-96.png");
    background-size: contain;
    width: 60px;
    height: 60px;

    transition: all 500ms;
    
    animation-name: ease-in;
    animation-duration: 100ms;
    animation-timing-function: linear;

    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.mf-flag-correct::before {
    background-color: lime !important;
    border: 2px solid limegreen !important;
}

.mf-flag-wrong::before {
    background-color: firebrick;
    border: 2px solid darkred;
}
/* -------------------------------------------------------- animation */

@keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes turn {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}

@keyframes turn-short {
    0% { transform: rotate(0deg); }
    70% { transform: rotate(0deg); }
    85% { transform: rotate(45deg); }
    100% { transform: rotate(0deg); }
    
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    1% { transform: rotate(15deg); }
    2%{ transform: rotate(0deg); }
    3% { transform: rotate(-15deg); }
    4% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

@keyframes ease-in {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}